$primary-text-light: #fff;
$primary-text-dark: #000;
$primary-hover: #5da6ef;
$primary: #1976d2;
$success: #00a01b;
$warning: #f7cd29;
$danger: #ff0000;

$border-grey: #bdbdbd;
$light-grey: #d5d5d5;